@use "../style/Variables.scss" as v;
.ProcesConsultation{
    background-color: map-get(v.$colors, "dark-back" );
    height: 100vh;

    .Wrapper{
        padding-top: 6rem;
        margin: auto;
        width: 80%;
        display: flex;

        .Left{
            width: 50%;
            img{
                width: 600px;
                -webkit-box-shadow: 4px 3px 16px -3px rgba(66, 68, 90, 1);
                -moz-box-shadow: 4px 3px 16px -3px rgba(66, 68, 90, 1);
                box-shadow: 4px 3px 16px -3px rgba(66, 68, 90, 1);
                border-radius: 3px;
            }
        }
        .Right{
            padding-left: 2rem;
            button{
                margin-top: 1rem;
                float: right;
                margin-right: 3rem;
                padding-left: 4rem;
                padding-right: 4rem;
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                font-family: "Montserrat";
                font-size: 14px;
                font-weight: 600;
                border: none;
                border-radius: 5px;

                cursor: pointer;
                background-color: map-get(v.$colors, "aqua");
            }
            }
           
    }
    .KonsultacjaMenu{
        width: 100%;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 12rem;

        a{
            text-decoration: none;
            margin-left: 3.5rem;
            margin-right: 3.5rem;
            padding-bottom: 7rem;

            color: #CCCC;
            font-family: 'Montserrat';
            color: map-get(v.$colors, "gray" );
            font-weight: 800;
            font-size: 15px;
            transition: 0.4s;
            &:hover{
                transition: 0.4s;
                color: map-get(v.$colors, "gold" );
               
            }
        }   
        .Current{
            color: map-get(v.$colors, "gold" );
        }
    }

}