@use "../style/Variables.scss" as v;
.Description{
    margin-bottom: 1rem;
    h5{
        font-size: 1.2rem;
        font-family: "Montserrat";
        font-weight: 700;
        color: white;
        margin-left: 1.2rem;
        margin-bottom: map-get(v.$spacing, "esm");
    }
   
    p{
        color: map-get(v.$colors, "font-color");
        margin-bottom: map-get(v.$spacing, "xsm");
        font-size: 1.2rem;
        font-family: "Montserrat";
        font-weight: 400;
        margin-left: 2rem;
    }
    }
    hr{
        margin-top: 1rem;
        width: 99%;
        margin-left: 0.5rem;
        height: 2px;
        background-color: #272828;
        border: none;

    }